@model IEnumerable<SAM_V2.Models.Proposal>

@{
    ViewBag.Title = "Index";
}

<style>
    /* Tooltip */
    .test + .tooltip > .tooltip-inner {
        background-color: #87CEE8;
        color: #FFFFFF;
        border: 1px solid green;
        padding: 15px;
        font-size: 20px;
    }
    /* Tooltip on top */
    .test + .tooltip.top > .tooltip-arrow {
        border-top: 5px solid green;
    }
    /* Tooltip on bottom */
    .test + .tooltip.bottom > .tooltip-arrow {
        border-bottom: 5px solid blue;
    }
    /* Tooltip on left */
    .test + .tooltip.left > .tooltip-arrow {
        border-left: 5px solid red;
    }
    /* Tooltip on right */
    .test + .tooltip.right > .tooltip-arrow {
        border-right: 5px solid black;
    }

    table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #2173c7;
    color: white;
}
</style>
 <script>
                            $(document).ready(function(){
                                $('[data-toggle="tooltip"]').tooltip();
                            });
                       </script>

<br /><h2>Proposals Infomation</h2>

    @if ((Session["PSUPassport"] != null) && (Session["Position"].Equals("Advisor") || Session["OrganName"].Equals("Student Council") ||
    Session["Position"].Equals("Head of Student Activity section") || Session["Position"].Equals("Head of Student Affairs division") || Session["Position"].Equals("Assistant to the President for Student Development") ||
    Session["Position"].Equals("Vice President for Academic Affairs for Phuket Campus") || Session["Position"].Equals("Student Activity Staffs")))
    {


<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Document No.")
        </th>
        <th>
            @Html.DisplayName("Activity Name")
        </th>
        <th>
            @Html.DisplayName("Organization Name")
        </th>
        <th>
            @Html.DisplayName("Document Status")
        </th>
        <th>
            @Html.DisplayName("Management")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DocNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrganName)
            </td>
            <td>


                @if (item.Result1 == null)
                {        <span class="glyphicon glyphicon-time" style="color:#EB984E" data-toggle="tooltip" data-original-title="Advisor"></span>}
                else if (item.Result1.Equals("Accept"))
                {
                    <span class="glyphicon glyphicon-ok-sign" style="color:#48C9B0" data-toggle="tooltip" data-original-title="Advisor"></span>
                }
                else if (item.Result1.Equals("Reject"))
                {
                    <span class="glyphicon glyphicon-remove-sign" style="color:#C70039" data-toggle="tooltip" data-original-title="Advisor"></span>
                }


                @if (item.Result2 == null)
                {
                    <span class="glyphicon glyphicon-time" style="color:#EB984E" data-toggle="tooltip" data-original-title="Student Union"></span>
                }
                else if (item.Result2.Equals("Accept"))
                {        <span class="glyphicon glyphicon-ok-sign" style="color:#48C9B0" data-toggle="tooltip" data-original-title="Student Union"></span>}
                else if (item.Result2.Equals("Reject"))
                {
                    <span class="glyphicon glyphicon-remove-sign" style="color:#C70039" data-toggle="tooltip" data-original-title="Student Union"></span>
                }


                @if (item.Result3 == null)
                {
                    <span class="glyphicon glyphicon-time" style="color:#EB984E" data-toggle="tooltip" data-original-title="Student Council"></span>
                }
                else if (item.Result3.Equals("Accept"))
                {        <span class="glyphicon glyphicon-ok-sign" style="color:#48C9B0" data-toggle="tooltip" data-original-title="Student Council"></span>}
                else if (item.Result3.Equals("Reject"))
                {
                    <span class="glyphicon glyphicon-remove-sign" style="color:#C70039" data-toggle="tooltip" data-original-title="Student Union"></span>
                }


                @if (item.Result4 == null)
                {
                    <span class="glyphicon glyphicon-time" style="color:#EB984E" data-toggle="tooltip" data-original-title="Head of Student Activity section"></span>
                }
                else if (item.Result4.Equals("Accept"))
                {        <span class="glyphicon glyphicon-ok-sign" style="color:#48C9B0" data-toggle="tooltip" data-original-title="Head of Student Activity section"></span>}
                else if (item.Result4.Equals("Reject"))
                {
                    <span class="glyphicon glyphicon-remove-sign" style="color:#C70039" data-toggle="tooltip" data-original-title="Head of Student Activity section"></span>
                }


                @if (item.Result5 == null)
                {
                    <span class="glyphicon glyphicon-time" style="color:#EB984E" data-toggle="tooltip" data-original-title="Head of Student Affairs division"></span>
                }
                else if (item.Result5.Equals("Accept"))
                {        <span class="glyphicon glyphicon-ok-sign" style="color:#48C9B0" data-toggle="tooltip" data-original-title="Head of Student Affairs division"></span>}
                else if (item.Result5.Equals("Reject"))
                {
                    <span class="glyphicon glyphicon-remove-sign" style="color:#C70039" data-toggle="tooltip" data-original-title="Head of Student Affairs division"></span>
                }


                @if (item.Result6 == null)
                {
                    <span class="glyphicon glyphicon-time" style="color:#EB984E" data-toggle="tooltip" data-original-title="Assistant to the President for Student Development"></span>
                }
                else if (item.Result6.Equals("Accept"))
                {        <span class="glyphicon glyphicon-ok-sign" style="color:#48C9B0" data-toggle="tooltip" data-original-title="Assistant to the President for Student Development"></span>}
                else if (item.Result6.Equals("Reject"))
                {
                    <span class="glyphicon glyphicon-remove-sign" style="color:#C70039" data-toggle="tooltip" data-original-title="Assistant to the President for Student Development"></span>
                }


                @if (item.Result7 == null)
                {        <span class="glyphicon glyphicon-time" style="color:#EB984E" data-toggle="tooltip" data-original-title="Vice President for Academic Affairs for Phuket Campus"></span>}
                else if (item.Result7.Equals("Accept"))
                {
                    <span class="glyphicon glyphicon-ok-sign" style="color:#48C9B0" data-toggle="tooltip" data-original-title="Vice President for Academic Affairs for Phuket Campus"></span>
                }
                else if (item.Result7.Equals("Reject"))
                {
                    <span class="glyphicon glyphicon-remove-sign" style="color:#C70039" data-toggle="tooltip" data-original-title="Vice President for Academic Affairs for Phuket Campus"></span>
                }

            </td>
            <td>
                 
                <button class="btn btn-warning" onclick="location.href='@Url.Action("Edit","Proposals",new { id = item.DocNo})'">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>

                <button class="btn btn-success" style="margin-left:5px" onclick="location.href='@Url.Action("Details","Proposals",new { id = item.DocNo })'">
                    <span class="glyphicon glyphicon-list-alt"></span>
                </button>

                           
            </td>
        </tr>
    }

</table>
    }
    else if (Session["OrganName"].Equals("Student Union"))
    {
        <div class="col-md-12">
            <button class="btn btn-primary" style="margin-left:5px" onclick="location.href='@Url.Action("Create", "Proposals")'">
                <i class="glyphicon glyphicon-plus"> </i>
                <label>Add new Report</label>
            </button>
        </div>
        <br>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayName("Document No.")
                </th>
                <th>
                    @Html.DisplayName("Activity Name")
                </th>
                <th>
                    @Html.DisplayName("Organization Name")
                </th>
                <th>
                    @Html.DisplayName("Document Status")
                </th>
                <th>
                    @Html.DisplayName("Management")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DocNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrganName)
                    </td>
                    <td>


                        @if (item.Result1 == null)
                        {        <span class="glyphicon glyphicon-time" style="color:#EB984E" data-toggle="tooltip" data-original-title="Advisor"></span>}
                        else if (item.Result1.Equals("Accept"))
                        {
                            <span class="glyphicon glyphicon-ok-sign" style="color:#48C9B0" data-toggle="tooltip" data-original-title="Advisor"></span>
                        }
                        else if (item.Result1.Equals("Reject"))
                        {
                            <span class="glyphicon glyphicon-remove-sign" style="color:#C70039" data-toggle="tooltip" data-original-title="Advisor"></span>
                        }


                        @if (item.Result2 == null)
                        {
                            <span class="glyphicon glyphicon-time" style="color:#EB984E" data-toggle="tooltip" data-original-title="Student Union"></span>
                        }
                        else if (item.Result2.Equals("Accept"))
                        {        <span class="glyphicon glyphicon-ok-sign" style="color:#48C9B0" data-toggle="tooltip" data-original-title="Student Union"></span>}
                        else if (item.Result2.Equals("Reject"))
                        {
                            <span class="glyphicon glyphicon-remove-sign" style="color:#C70039" data-toggle="tooltip" data-original-title="Student Union"></span>
                        }


                        @if (item.Result3 == null)
                        {
                            <span class="glyphicon glyphicon-time" style="color:#EB984E" data-toggle="tooltip" data-original-title="Student Council"></span>
                        }
                        else if (item.Result3.Equals("Accept"))
                        {        <span class="glyphicon glyphicon-ok-sign" style="color:#48C9B0" data-toggle="tooltip" data-original-title="Student Council"></span>}
                        else if (item.Result3.Equals("Reject"))
                        {
                            <span class="glyphicon glyphicon-remove-sign" style="color:#C70039" data-toggle="tooltip" data-original-title="Student Union"></span>
                        }


                        @if (item.Result4 == null)
                        {
                            <span class="glyphicon glyphicon-time" style="color:#EB984E" data-toggle="tooltip" data-original-title="Head of Student Activity section"></span>
                        }
                        else if (item.Result4.Equals("Accept"))
                        {        <span class="glyphicon glyphicon-ok-sign" style="color:#48C9B0" data-toggle="tooltip" data-original-title="Head of Student Activity section"></span>}
                        else if (item.Result4.Equals("Reject"))
                        {
                            <span class="glyphicon glyphicon-remove-sign" style="color:#C70039" data-toggle="tooltip" data-original-title="Head of Student Activity section"></span>
                        }


                        @if (item.Result5 == null)
                        {
                            <span class="glyphicon glyphicon-time" style="color:#EB984E" data-toggle="tooltip" data-original-title="Head of Student Affairs division"></span>
                        }
                        else if (item.Result5.Equals("Accept"))
                        {        <span class="glyphicon glyphicon-ok-sign" style="color:#48C9B0" data-toggle="tooltip" data-original-title="Head of Student Affairs division"></span>}
                        else if (item.Result5.Equals("Reject"))
                        {
                            <span class="glyphicon glyphicon-remove-sign" style="color:#C70039" data-toggle="tooltip" data-original-title="Head of Student Affairs division"></span>
                        }


                        @if (item.Result6 == null)
                        {
                            <span class="glyphicon glyphicon-time" style="color:#EB984E" data-toggle="tooltip" data-original-title="Assistant to the President for Student Development"></span>
                        }
                        else if (item.Result6.Equals("Accept"))
                        {        <span class="glyphicon glyphicon-ok-sign" style="color:#48C9B0" data-toggle="tooltip" data-original-title="Assistant to the President for Student Development"></span>}
                        else if (item.Result6.Equals("Reject"))
                        {
                            <span class="glyphicon glyphicon-remove-sign" style="color:#C70039" data-toggle="tooltip" data-original-title="Assistant to the President for Student Development"></span>
                        }


                        @if (item.Result7 == null)
                        {        <span class="glyphicon glyphicon-time" style="color:#EB984E" data-toggle="tooltip" data-original-title="Vice President for Academic Affairs for Phuket Campus"></span>}
                        else if (item.Result7.Equals("Accept"))
                        {
                            <span class="glyphicon glyphicon-ok-sign" style="color:#48C9B0" data-toggle="tooltip" data-original-title="Vice President for Academic Affairs for Phuket Campus"></span>
                        }
                        else if (item.Result7.Equals("Reject"))
                        {
                            <span class="glyphicon glyphicon-remove-sign" style="color:#C70039" data-toggle="tooltip" data-original-title="Vice President for Academic Affairs for Phuket Campus"></span>
                        }





                    </td>
                    <td>
                        <button class="btn btn-warning" onclick="location.href='@Url.Action("Edit","Proposals",new { id = item.DocNo})'">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>

                        <button class="btn btn-success" style="margin-left:5px" onclick="location.href='@Url.Action("Details","Proposals",new { id = item.DocNo })'">
                            <span class="glyphicon glyphicon-list-alt"></span>
                        </button>

                      
                    </td>
                </tr>
            }

        </table>
    }
    else
    {
        <br />
        <div class="col-md-12">
            <button class="btn btn-primary" style="margin-left:5px" onclick="location.href='@Url.Action("Create", "Proposals")'">
                <i class="glyphicon glyphicon-plus"> </i>
                <label>Add new Report</label>
            </button>
        </div>
      
        

        <br><br><br><br><table class="table">
            <tr>
                <th>
                    @Html.DisplayName("Document No.")
                </th>
                <th>
                    @Html.DisplayName("Activity Name")
                </th>
                <th>
                    @Html.DisplayName("Organization Name")
                </th>
                <th>
                    @Html.DisplayName("Document Status")
                </th>
                <th >
                @Html.DisplayName("Management")
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DocNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrganName)
                    </td>
                    <td >
                       

                      
                           
                        @if (item.Result1==null)
                        {        <span class="glyphicon glyphicon-time" style="color:#EB984E" data-toggle="tooltip" data-original-title="Advisor"></span>}
                        else if(item.Result1.Equals("Accept")){
                            <span  class="glyphicon glyphicon-ok-sign" style="color:#48C9B0"  data-toggle="tooltip" data-original-title="Advisor"></span>
                        }
                        else if (item.Result1.Equals("Reject"))
                        {
                            <span class="glyphicon glyphicon-remove-sign" style="color:#C70039" data-toggle="tooltip" data-original-title="Advisor"></span>
                        }


                        @if (item.Result2 == null)
                        {
                            <span class="glyphicon glyphicon-time" style="color:#EB984E" data-toggle="tooltip" data-original-title="Student Union"></span>
                        }
                        else if (item.Result2.Equals("Accept"))
                        {        <span class="glyphicon glyphicon-ok-sign" style="color:#48C9B0" data-toggle="tooltip" data-original-title="Student Union"></span>}
                        else if (item.Result2.Equals("Reject"))
                        {
                            <span class="glyphicon glyphicon-remove-sign" style="color:#C70039" data-toggle="tooltip" data-original-title="Student Union"></span>
                        }


                        @if (item.Result3 == null)
                        {
                            <span class="glyphicon glyphicon-time" style="color:#EB984E" data-toggle="tooltip" data-original-title="Student Council"></span>
                        }
                        else if (item.Result3.Equals("Accept"))
                        {        <span class="glyphicon glyphicon-ok-sign" style="color:#48C9B0" data-toggle="tooltip" data-original-title="Student Council"></span>}
                        else if (item.Result3.Equals("Reject"))
                        {
                            <span class="glyphicon glyphicon-remove-sign" style="color:#C70039" data-toggle="tooltip" data-original-title="Student Union"></span>
                        }


                        @if (item.Result4 == null)
                        {
                            <span class="glyphicon glyphicon-time" style="color:#EB984E" data-toggle="tooltip" data-original-title="Head of Student Activity section"></span>
                        }
                        else if (item.Result4.Equals("Accept"))
                        {        <span class="glyphicon glyphicon-ok-sign" style="color:#48C9B0" data-toggle="tooltip" data-original-title="Head of Student Activity section"></span>}
                        else if (item.Result4.Equals("Reject"))
                        {
                            <span class="glyphicon glyphicon-remove-sign" style="color:#C70039" data-toggle="tooltip" data-original-title="Head of Student Activity section"></span>
                        }


                        @if (item.Result5 == null)
                        {
                            <span class="glyphicon glyphicon-time" style="color:#EB984E" data-toggle="tooltip" data-original-title="Head of Student Affairs division"></span>
                        }
                        else if (item.Result5.Equals("Accept"))
                        {        <span class="glyphicon glyphicon-ok-sign" style="color:#48C9B0" data-toggle="tooltip" data-original-title="Head of Student Affairs division"></span>}
                        else if (item.Result5.Equals("Reject"))
                        {
                            <span class="glyphicon glyphicon-remove-sign" style="color:#C70039" data-toggle="tooltip" data-original-title="Head of Student Affairs division"></span>
                        }


                        @if (item.Result6 == null)
                        {
                            <span class="glyphicon glyphicon-time" style="color:#EB984E" data-toggle="tooltip" data-original-title="Assistant to the President for Student Development"></span>
                        }
                        else if (item.Result6.Equals("Accept"))
                        {        <span class="glyphicon glyphicon-ok-sign" style="color:#48C9B0" data-toggle="tooltip" data-original-title="Assistant to the President for Student Development"></span>}
                        else if (item.Result6.Equals("Reject"))
                        {
                            <span class="glyphicon glyphicon-remove-sign" style="color:#C70039" data-toggle="tooltip" data-original-title="Assistant to the President for Student Development"></span>
                        }


                        @if (item.Result7==null)
                        {        <span class="glyphicon glyphicon-time" style="color:#EB984E"  data-toggle="tooltip" data-original-title="Vice President for Academic Affairs for Phuket Campus"></span>}
                        else if (item.Result7.Equals("Accept"))
                        {
                            <span class="glyphicon glyphicon-ok-sign"  style="color:#48C9B0" data-toggle="tooltip" data-original-title="Vice President for Academic Affairs for Phuket Campus"></span>
                        }
                        else if (item.Result7.Equals("Reject"))
                        {
                            <span class="glyphicon glyphicon-remove-sign" style="color:#C70039" data-toggle="tooltip" data-original-title="Vice President for Academic Affairs for Phuket Campus"></span>
                        }



                        </td>
                    <td>

                        <button class="btn btn-warning" onclick="location.href='@Url.Action("Edit","Proposals",new { id = item.DocNo})'">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>

                        <button class="btn btn-success" style="margin-left:5px" onclick="location.href='@Url.Action("Details","Proposals",new { id = item.DocNo })'">
                            <span class="glyphicon glyphicon-list-alt"></span>
                        </button>

                        <button class="btn btn-danger" style="margin-left:5px" onclick="location.href='@Url.Action("Delete","Proposals",new { id = item.DocNo })'">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>

                       
                    </td>
                </tr>
            }

        </table>
    }
